.navbar {
  background-color: #1f1f1f;

}
.fondo-general{
  background-color: #ebe8e8cd;
}
.navbar-nav .nav-link {
  position: relative;
  transition: all 0.3s ease;
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
  color: #00d1b2;
  font-weight: 600;
  transform: scale(1.05);
  text-shadow: 0 0 5px rgba(0, 209, 178, 0.5);
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  background: #00d1b2;
  transition: width 0.3s ease;
  bottom: 0;
  left: 0;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}
